@font-face {
  font-family: "Circe-Bold";
  src: url("./Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circe-Regular";
  src: url("./Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
