@use '../../helpers/function' as *;


.faq {
  position: relative;
  margin-top: fluid-1024(100, 150);
}

.faq__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__card {
  display: flex;
  flex-direction: column;
  gap: fluid-360(10, 18);
  margin-top: fluid-360(25, 50);
}

.faq__card-body {
  background: rgba(33, 20, 15, 0.9);
  position: relative;
  border-radius: 30px;
  padding: fluid-360(16, 30) fluid-360(16, 40);
  width: fluid-1024(975, 1580);
  height: fluid-1024(82, 91);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; // толщина бордера
    border-radius: inherit;

    background: linear-gradient(
                    135deg,
                    #FAE5B6 0%,
                    #F1C17E 100%
    );

    -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }

  label {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.faq__card-arrow {
  background-repeat: no-repeat;
  width: 20px;
  height: 12px;
  background-image: url("../../../public/globals/arrow.svg");
  background-size: cover;
  position: absolute;
  right: fluid-360(16, 40);
  top: fluid-360(28, 40);
  pointer-events: none;
}

.faq__card-title {
  max-width: calc(100% - 25px);
  margin-top: -15px;
  font-weight: 700;
  font-size: fluid-1024(20, 28);
  text-transform: uppercase;
}

.faq__card-text {
  font-family: "Circe-Regular", sans-serif;
  display: none;
  margin-top: 20px;
  font-weight: 400;
  font-size: fluid-360(13, 20);
}

input[type="radio"] {
  display: none;
}

.faq__card-body:has(input[type="radio"]:checked) {
  height: auto;
}

.faq__card-body:has(input[type="radio"]:checked) .faq__card-arrow {
  //background-image: url("./images/arrow-dark.svg");
}

.faq__card-body:has(input[type="radio"]:checked) .faq__card-text {
  display: block;
}


@media screen and (max-width: 1023px) {
  .faq {
    margin-top: fluid-360(60, 100);
    &__card {
      &-title {
        font-size: fluid-360(14, 20);
      }

      &-body {
        width: fluid-360(320, 975);
      }
    }
  }
}