body {
  font-family: var(--font-circe-bold);
  color: #fff;
  line-height: 1.1;

  &.active {
    overflow: hidden;
  }
}

main {
  background-image: radial-gradient(#411B10 0%, #160201 100%);

  max-width: 100%;
  width: 100%;
  overflow: hidden;
}